In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
def shrink_df(df):
    df.user_id = df.user_id.astype(np.uint16)
    df.movie_id = df.movie_id.astype(np.uint16)
    df.rating = df.rating.astype(np.uint8)
    
    return df

In [3]:
df_train = pd.read_csv("data/new_pp/udata_train_100k.csv")

In [4]:
df_train.head()

   user_id  movie_id  rating
0      664       525       4
1       49         1       2
2      352       273       2
3      618        96       3
4      560        24       2

In [5]:
df_test = pd.read_csv("data/new_pp/udata_test_100k.csv")

In [6]:
one_hot_train = pd.get_dummies(df_train.movie_id, prefix="movie_id", dtype=np.uint8)

In [7]:
one_hot_train

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79998,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
one_hot_train["user_id"] = df_train.user_id

In [9]:
one_hot_test = pd.get_dummies(df_test.movie_id, prefix="movie_id", dtype=np.uint8)

In [10]:
one_hot_test

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1650,movie_id_1651,movie_id_1668,movie_id_1669,movie_id_1671,movie_id_1672,movie_id_1674,movie_id_1677,movie_id_1679,movie_id_1681
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
one_hot_test["user_id"] = df_test.user_id

In [12]:
train_cols = set(one_hot_train.columns.to_list()[1:])

In [13]:
train_cols

{'movie_id_1214',
 'movie_id_960',
 'movie_id_79',
 'movie_id_1361',
 'movie_id_50',
 'movie_id_163',
 'movie_id_244',
 'movie_id_614',
 'movie_id_825',
 'movie_id_228',
 'movie_id_528',
 'movie_id_670',
 'movie_id_1443',
 'movie_id_944',
 'movie_id_1440',
 'movie_id_1667',
 'movie_id_1128',
 'movie_id_1206',
 'movie_id_1588',
 'movie_id_710',
 'movie_id_443',
 'movie_id_1136',
 'movie_id_1557',
 'movie_id_1434',
 'movie_id_561',
 'movie_id_1547',
 'movie_id_1405',
 'movie_id_1121',
 'movie_id_994',
 'movie_id_26',
 'movie_id_887',
 'movie_id_115',
 'movie_id_608',
 'movie_id_1426',
 'movie_id_180',
 'movie_id_1292',
 'movie_id_91',
 'movie_id_1403',
 'movie_id_137',
 'movie_id_694',
 'movie_id_136',
 'movie_id_1446',
 'movie_id_1251',
 'movie_id_714',
 'movie_id_1636',
 'movie_id_66',
 'movie_id_885',
 'movie_id_1029',
 'movie_id_1385',
 'movie_id_1252',
 'movie_id_215',
 'movie_id_249',
 'movie_id_453',
 'movie_id_804',
 'movie_id_912',
 'movie_id_1168',
 'movie_id_1037',
 'movie_id_450',
 'movie_id_1531',
 'movie_id_905',
 'movie_id_1602',
 'movie_id_461',
 'movie_id_553',
 'movie_id_318',
 'movie_id_680',
 'movie_id_430',
 'movie_id_1597',
 'movie_id_1123',
 'movie_id_992',
 'movie_id_52',
 'movie_id_192',
 'movie_id_303',
 'movie_id_365',
 'movie_id_1174',
 'movie_id_1613',
 'movie_id_218',
 'movie_id_427',
 'movie_id_1335',
 'movie_id_681',
 'movie_id_1513',
 'movie_id_1374',
 'movie_id_1370',
 'movie_id_350',
 'movie_id_176',
 'movie_id_1235',
 'movie_id_1150',
 'movie_id_110',
 'movie_id_346',
 'movie_id_1267',
 'movie_id_233',
 'movie_id_631',
 'movie_id_724',
 'movie_id_67',
 'movie_id_1255',
 'movie_id_127',
 'movie_id_211',
 'movie_id_1608',
 'movie_id_556',
 'movie_id_112',
 'movie_id_520',
 'movie_id_835',
 'movie_id_1071',
 'movie_id_1216',
 'movie_id_871',
 'movie_id_729',
 'movie_id_122',
 'movie_id_371',
 'movie_id_522',
 'movie_id_657',
 'movie_id_526',
 'movie_id_852',
 'movie_id_1658',
 'movie_id_968',
 'movie_id_1341',
 'movie_id_1406',
 'movie_id_882',
 'movie_id_1089',
 'movie_id_387',
 'movie_id_849',
 'movie_id_197',
 'movie_id_1343',
 'movie_id_1461',
 'movie_id_143',
 'movie_id_1551',
 'movie_id_761',
 'movie_id_227',
 'movie_id_2',
 'movie_id_72',
 'movie_id_148',
 'movie_id_625',
 'movie_id_347',
 'movie_id_254',
 'movie_id_187',
 'movie_id_1400',
 'movie_id_558',
 'movie_id_1096',
 'movie_id_858',
 'movie_id_445',
 'movie_id_1081',
 'movie_id_1198',
 'movie_id_808',
 'movie_id_1633',
 'movie_id_460',
 'movie_id_765',
 'movie_id_1649',
 'movie_id_1580',
 'movie_id_1433',
 'movie_id_1272',
 'movie_id_1262',
 'movie_id_1293',
 'movie_id_821',
 'movie_id_748',
 'movie_id_1215',
 'movie_id_1023',
 'movie_id_1379',
 'movie_id_1447',
 'movie_id_1219',
 'movie_id_1441',
 'movie_id_935',
 'movie_id_1160',
 'movie_id_623',
 'movie_id_89',
 'movie_id_1184',
 'movie_id_1147',
 'movie_id_886',
 'movie_id_674',
 'movie_id_1533',
 'movie_id_888',
 'movie_id_290',
 'movie_id_1115',
 'movie_id_140',
 'movie_id_1457',
 'movie_id_418',
 'movie_id_1526',
 'movie_id_1078',
 'movie_id_284',
 'movie_id_600',
 'movie_id_1521',
 'movie_id_146',
 'movie_id_1140',
 'movie_id_477',
 'movie_id_649',
 'movie_id_61',
 'movie_id_962',
 'movie_id_609',
 'movie_id_1398',
 'movie_id_1189',
 'movie_id_722',
 'movie_id_1554',
 'movie_id_967',
 'movie_id_116',
 'movie_id_1525',
 'movie_id_422',
 'movie_id_1049',
 'movie_id_433',
 'movie_id_287',
 'movie_id_977',
 'movie_id_1354',
 'movie_id_1295',
 'movie_id_536',
 'movie_id_1188',
 'movie_id_70',
 'movie_id_329',
 'movie_id_850',
 'movie_id_947',
 'movie_id_925',
 'movie_id_1364',
 'movie_id_1485',
 'movie_id_494',
 'movie_id_1175',
 'movie_id_1544',
 'movie_id_96',
 'movie_id_1582',
 'movie_id_592',
 'movie_id_1499',
 'movie_id_1327',
 'movie_id_10',
 'movie_id_1536',
 'movie_id_389',
 'movie_id_229',
 'movie_id_364',
 'movie_id_646',
 'movie_id_669',
 'movie_id_402',
 'movie_id_753',
 'movie_id_1528',
 'movie_id_1660',
 'movie_id_355',
 'movie_id_1330',
 'movie_id_847',
 'movie_id_1371',
 'movie_id_1192',
 'movie_id_933',
 'movie_id_1030',
 'movie_id_1246',
 'movie_id_1460',
 'movie_id_1673',
 'movie_id_393',
 'movie_id_473',
 'movie_id_1304',
 'movie_id_1124',
 'movie_id_434',
 'movie_id_549',
 'movie_id_739',
 'movie_id_1659',
 'movie_id_463',
 'movie_id_913',
 'movie_id_1616',
 'movie_id_997',
 'movie_id_1102',
 'movie_id_792',
 'movie_id_907',
 'movie_id_1610',
 'movie_id_1253',
 'movie_id_1076',
 'movie_id_1007',
 'movie_id_775',
 'movie_id_1231',
 'movie_id_1483',
 'movie_id_1098',
 'movie_id_684',
 'movie_id_1423',
 'movie_id_510',
 'movie_id_1519',
 'movie_id_898',
 'movie_id_1644',
 'movie_id_1436',
 'movie_id_552',
 'movie_id_1182',
 'movie_id_1199',
 'movie_id_547',
 'movie_id_1263',
 'movie_id_660',
 'movie_id_98',
 'movie_id_219',
 'movie_id_1381',
 'movie_id_168',
 'movie_id_730',
 'movie_id_240',
 'movie_id_800',
 'movie_id_419',
 'movie_id_209',
 'movie_id_665',
 'movie_id_1052',
 'movie_id_689',
 'movie_id_191',
 'movie_id_1315',
 'movie_id_1067',
 'movie_id_1604',
 'movie_id_1025',
 'movie_id_1328',
 'movie_id_44',
 'movie_id_611',
 'movie_id_1407',
 'movie_id_496',
 'movie_id_1347',
 'movie_id_814',
 'movie_id_266',
 'movie_id_57',
 'movie_id_1114',
 'movie_id_1393',
 'movie_id_1575',
 'movie_id_1417',
 'movie_id_1495',
 'movie_id_926',
 'movie_id_1663',
 'movie_id_1339',
 'movie_id_890',
 'movie_id_1204',
 'movie_id_984',
 'movie_id_174',
 'movie_id_1334',
 'movie_id_758',
 'movie_id_1066',
 'movie_id_267',
 'movie_id_226',
 'movie_id_1001',
 'movie_id_182',
 'movie_id_908',
 'movie_id_1047',
 'movie_id_560',
 'movie_id_836',
 'movie_id_300',
 'movie_id_1496',
 'movie_id_676',
 'movie_id_1435',
 'movie_id_235',
 'movie_id_1570',
 'movie_id_1638',
 'movie_id_1503',
 'movie_id_395',
 'movie_id_1200',
 'movie_id_1357',
 'movie_id_1498',
 'movie_id_1143',
 'movie_id_566',
 'movie_id_1365',
 'movie_id_265',
 'movie_id_93',
 'movie_id_1356',
 'movie_id_1205',
 'movie_id_1005',
 'movie_id_166',
 'movie_id_1138',
 'movie_id_1646',
 'movie_id_1459',
 'movie_id_333',
 'movie_id_891',
 'movie_id_1479',
 'movie_id_910',
 'movie_id_325',
 'movie_id_1373',
 'movie_id_1414',
 'movie_id_1565',
 'movie_id_896',
 'movie_id_863',
 'movie_id_35',
 'movie_id_782',
 'movie_id_1238',
 'movie_id_205',
 'movie_id_846',
 'movie_id_707',
 'movie_id_648',
 'movie_id_920',
 'movie_id_1043',
 'movie_id_1377',
 'movie_id_348',
 'movie_id_909',
 'movie_id_444',
 'movie_id_1317',
 'movie_id_702',
 'movie_id_431',
 'movie_id_776',
 'movie_id_756',
 'movie_id_189',
 'movie_id_482',
 'movie_id_120',
 'movie_id_693',
 'movie_id_1298',
 'movie_id_1331',
 'movie_id_572',
 'movie_id_1527',
 'movie_id_598',
 'movie_id_1670',
 'movie_id_150',
 'movie_id_571',
 'movie_id_1598',
 'movie_id_160',
 'movie_id_1097',
 'movie_id_1161',
 'movie_id_1050',
 'movie_id_289',
 'movie_id_464',
 'movie_id_698',
 'movie_id_1516',
 'movie_id_305',
 'movie_id_230',
 'movie_id_745',
 'movie_id_1277',
 'movie_id_769',
 'movie_id_6',
 'movie_id_407',
 'movie_id_43',
 'movie_id_974',
 'movie_id_951',
 'movie_id_630',
 'movie_id_119',
 'movie_id_555',
 'movie_id_1463',
 'movie_id_1442',
 'movie_id_975',
 'movie_id_56',
 'movie_id_1274',
 'movie_id_1430',
 'movie_id_930',
 'movie_id_618',
 'movie_id_406',
 'movie_id_1217',
 'movie_id_1358',
 'movie_id_1661',
 'movie_id_1237',
 'movie_id_720',
 'movie_id_280',
 'movie_id_1323',
 'movie_id_1549',
 'movie_id_1240',
 'movie_id_603',
 'movie_id_831',
 'movie_id_194',
 'movie_id_1132',
 'movie_id_378',
 'movie_id_1534',
 'movie_id_466',
 'movie_id_786',
 'movie_id_978',
 'movie_id_1211',
 'movie_id_424',
 'movie_id_1583',
 'movie_id_1584',
 'movie_id_167',
 'movie_id_39',
 'movie_id_487',
 'movie_id_534',
 'movie_id_1307',
 'movie_id_780',
 'movie_id_1014',
 'movie_id_708',
 'movie_id_470',
 'movie_id_514',
 'movie_id_892',
 'movie_id_131',
 'movie_id_956',
 'movie_id_1506',
 'movie_id_950',
 'movie_id_207',
 'movie_id_283',
 'movie_id_224',
 'movie_id_664',
 'movie_id_979',
 'movie_id_726',
 'movie_id_601',
 'movie_id_883',
 'movie_id_1622',
 'movie_id_778',
 'movie_id_1429',
 'movie_id_1634',
 'movie_id_1676',
 'movie_id_1276',
 'movie_id_1455',
 'movie_id_874',
 'movie_id_1261',
 'movie_id_63',
 'movie_id_1474',
 'movie_id_1139',
 'movie_id_1148',
 'movie_id_843',
 'movie_id_1618',
 'movie_id_1291',
 'movie_id_688',
 'movie_id_1410',
 'movie_id_589',
 'movie_id_903',
 'movie_id_807',
 'movie_id_517',
 'movie_id_8',
 'movie_id_4',
 'movie_id_415',
 'movie_id_1060',
 'movie_id_837',
 'movie_id_298',
 'movie_id_195',
 'movie_id_373',
 'movie_id_1286',
 'movie_id_117',
 'movie_id_242',
 'movie_id_505',
 'movie_id_1419',
 'movie_id_937',
 'movie_id_1468',
 'movie_id_1523',
 'movie_id_923',
 'movie_id_275',
 'movie_id_1084',
 'movie_id_1397',
 'movie_id_897',
 'movie_id_839',
 'movie_id_946',
 'movie_id_1155',
 'movie_id_590',
 'movie_id_817',
 'movie_id_1012',
 'movie_id_1031',
 'movie_id_291',
 'movie_id_158',
 'movie_id_794',
 'movie_id_1657',
 'movie_id_1359',
 'movie_id_413',
 'movie_id_1236',
 'movie_id_501',
 'movie_id_1244',
 'movie_id_877',
 'movie_id_1116',
 'movie_id_1586',
 'movie_id_1131',
 'movie_id_1345',
 'movie_id_610',
 'movie_id_840',
 'movie_id_1247',
 'movie_id_1367',
 'movie_id_147',
 'movie_id_1055',
 'movie_id_111',
 'movie_id_201',
 'movie_id_454',
 'movie_id_92',
 'movie_id_1185',
 'movie_id_856',
 'movie_id_971',
 'movie_id_529',
 'movie_id_841',
 'movie_id_248',
 'movie_id_1118',
 'movie_id_647',
 'movie_id_548',
 'movie_id_105',
 'movie_id_411',
 'movie_id_471',
 'movie_id_1641',
 'movie_id_1502',
 'movie_id_1648',
 'movie_id_596',
 'movie_id_663',
 'movie_id_416',
 'movie_id_14',
 'movie_id_446',
 'movie_id_717',
 'movie_id_1169',
 'movie_id_1146',
 'movie_id_1111',
 'movie_id_1061',
 'movie_id_481',
 'movie_id_567',
 'movie_id_958',
 'movie_id_1529',
 'movie_id_18',
 'movie_id_172',
 'movie_id_216',
 'movie_id_261',
 'movie_id_5',
 'movie_id_705',
 'movie_id_256',
 'movie_id_157',
 'movie_id_217',
 'movie_id_1179',
 'movie_id_796',
 'movie_id_619',
 'movie_id_428',
 'movie_id_938',
 'movie_id_616',
 'movie_id_538',
 'movie_id_161',
 'movie_id_385',
 'movie_id_1288',
 'movie_id_1418',
 'movie_id_338',
 'movie_id_844',
 'movie_id_1444',
 'movie_id_1620',
 'movie_id_543',
 'movie_id_1511',
 'movie_id_1287',
 'movie_id_557',
 'movie_id_234',
 'movie_id_990',
 'movie_id_1469',
 'movie_id_490',
 'movie_id_113',
 'movie_id_1065',
 'movie_id_879',
 'movie_id_911',
 'movie_id_343',
 'movie_id_1672',
 'movie_id_390',
 'movie_id_1593',
 'movie_id_666',
 'movie_id_255',
 'movie_id_1046',
 'movie_id_1107',
 'movie_id_497',
 'movie_id_405',
 'movie_id_417',
 'movie_id_386',
 'movie_id_622',
 'movie_id_1283',
 'movie_id_683',
 'movie_id_1467',
 'movie_id_336',
 'movie_id_998',
 'movie_id_942',
 'movie_id_36',
 'movie_id_1218',
 'movie_id_106',
 'movie_id_295',
 'movie_id_604',
 'movie_id_862',
 'movie_id_1566',
 'movie_id_125',
 'movie_id_700',
 'movie_id_736',
 'movie_id_1101',
 'movie_id_1158',
 'movie_id_294',
 'movie_id_214',
 'movie_id_949',
 'movie_id_661',
 'movie_id_577',
 'movie_id_118',
 'movie_id_1539',
 'movie_id_980',
 'movie_id_1494',
 'movie_id_642',
 'movie_id_165',
 'movie_id_184',
 'movie_id_288',
 'movie_id_532',
 'movie_id_628',
 'movie_id_353',
 'movie_id_1594',
 'movie_id_607',
 'movie_id_1224',
 'movie_id_76',
 'movie_id_749',
 'movie_id_813',
 'movie_id_1454',
 'movie_id_537',
 'movie_id_1243',
 'movie_id_900',
 'movie_id_183',
 'movie_id_375',
 'movie_id_966',
 'movie_id_1176',
 'movie_id_429',
 'movie_id_403',
 'movie_id_521',
 'movie_id_310',
 'movie_id_414',
 'movie_id_485',
 'movie_id_524',
 'movie_id_408',
 'movie_id_827',
 'movie_id_379',
 'movie_id_29',
 'movie_id_88',
 'movie_id_1472',
 'movie_id_340',
 'movie_id_1466',
 'movie_id_859',
 'movie_id_752',
 'movie_id_1220',
 'movie_id_941',
 'movie_id_262',
 'movie_id_1619',
 'movie_id_1264',
 'movie_id_1273',
 'movie_id_1338',
 'movie_id_198',
 'movie_id_1248',
 'movie_id_1363',
 'movie_id_352',
 'movie_id_1346',
 'movie_id_797',
 'movie_id_1448',
 'movie_id_1545',
 'movie_id_384',
 'movie_id_922',
 'movie_id_564',
 'movie_id_1202',
 'movie_id_1280',
 'movie_id_1552',
 'movie_id_1021',
 'movie_id_1350',
 'movie_id_1453',
 'movie_id_138',
 'movie_id_281',
 'movie_id_1489',
 'movie_id_23',
 'movie_id_1309',
 'movie_id_1589',
 'movie_id_687',
 'movie_id_1040',
 'movie_id_873',
 'movie_id_257',
 'movie_id_1623',
 'movie_id_1445',
 'movie_id_709',
 'movie_id_757',
 'movie_id_1203',
 'movie_id_420',
 'movie_id_927',
 'movie_id_60',
 'movie_id_74',
 'movie_id_58',
 'movie_id_1109',
 'movie_id_868',
 'movie_id_1072',
 'movie_id_972',
 'movie_id_1141',
 'movie_id_377',
 'movie_id_1607',
 'movie_id_292',
 'movie_id_1172',
 'movie_id_901',
 'movie_id_139',
 'movie_id_1571',
 'movie_id_1321',
 'movie_id_842',
 'movie_id_540',
 'movie_id_307',
 'movie_id_1535',
 'movie_id_480',
 'movie_id_1311',
 'movie_id_12',
 'movie_id_1404',
 'movie_id_934',
 'movie_id_803',
 'movie_id_1475',
 'movie_id_1470',
 'movie_id_1425',
 'movie_id_1396',
 'movie_id_1664',
 'movie_id_432',
 'movie_id_247',
 'movie_id_1017',
 'movie_id_1560',
 'movie_id_225',
 'movie_id_644',
 'movie_id_33',
 'movie_id_1421',
 'movie_id_703',
 'movie_id_1340',
 'movie_id_583',
 'movie_id_544',
 'movie_id_535',
 'movie_id_159',
 'movie_id_1569',
 'movie_id_809',
 'movie_id_643',
 'movie_id_921',
 'movie_id_777',
 'movie_id_569',
 'movie_id_1326',
 'movie_id_895',
 'movie_id_815',
 'movie_id_1164',
 'movie_id_359',
 'movie_id_317',
 'movie_id_492',
 'movie_id_861',
 'movie_id_530',
 'movie_id_320',
 'movie_id_983',
 'movie_id_893',
 'movie_id_1026',
 'movie_id_1100',
 'movie_id_1062',
 'movie_id_341',
 'movie_id_1106',
 'movie_id_697',
 'movie_id_763',
 'movie_id_1213',
 'movie_id_1437',
 'movie_id_1187',
 'movie_id_1578',
 'movie_id_185',
 'movie_id_773',
 'movie_id_1522',
 'movie_id_1378',
 'movie_id_1314',
 'movie_id_260',
 'movie_id_1390',
 'movie_id_1621',
 'movie_id_791',
 'movie_id_606',
 'movie_id_1490',
 'movie_id_1612',
 'movie_id_795',
 'movie_id_162',
 'movie_id_1627',
 'movie_id_322',
 'movie_id_1362',
 'movie_id_1595',
 'movie_id_751',
 'movie_id_24',
 'movie_id_1432',
 'movie_id_899',
 'movie_id_768',
 'movie_id_652',
 'movie_id_785',
 'movie_id_356',
 'movie_id_741',
 'movie_id_1186',
 'movie_id_314',
 'movie_id_662',
 'movie_id_1500',
 'movie_id_1360',
 'movie_id_639',
 'movie_id_1524',
 'movie_id_170',
 'movie_id_750',
 'movie_id_516',
 'movie_id_562',
 'movie_id_1325',
 'movie_id_203',
 'movie_id_586',
 'movie_id_811',
 'movie_id_1482',
 'movie_id_591',
 'movie_id_725',
 'movie_id_1091',
 'movie_id_1609',
 'movie_id_692',
 'movie_id_712',
 'movie_id_40',
 'movie_id_1163',
 'movie_id_1617',
 'movie_id_943',
 'movie_id_779',
 'movie_id_696',
 'movie_id_1044',
 'movie_id_511',
 'movie_id_845',
 'movie_id_1075',
 'movie_id_760',
 'movie_id_316',
 'movie_id_629',
 'movie_id_734',
 'movie_id_1180',
 'movie_id_213',
 'movie_id_1637',
 'movie_id_1265',
 'movie_id_772',
 'movie_id_1004',
 'movie_id_344',
 'movie_id_399',
 'movie_id_1134',
 'movie_id_1542',
 'movie_id_435',
 'movie_id_875',
 'movie_id_1183',
 'movie_id_1329',
 'movie_id_1678',
 'movie_id_719',
 'movie_id_319',
 'movie_id_1401',
 'movie_id_37',
 'movie_id_1369',
 'movie_id_438',
 'movie_id_342',
 'movie_id_1355',
 'movie_id_1382',
 'movie_id_1036',
 'movie_id_743',
 'movie_id_1260',
 'movie_id_820',
 'movie_id_1073',
 'movie_id_957',
 'movie_id_271',
 'movie_id_578',
 'movie_id_742',
 'movie_id_1559',
 'movie_id_1239',
 'movie_id_1117',
 'movie_id_1512',
 'movie_id_361',
 'movie_id_640',
 'movie_id_20',
 'movie_id_738',
 'movie_id_701',
 'movie_id_164',
 'movie_id_474',
 'movie_id_489',
 'movie_id_1191',
 'movie_id_495',
 'movie_id_1647',
 'movie_id_1546',
 'movie_id_51',
 'user_id',
 'movie_id_914',
 'movie_id_988',
 'movie_id_1488',
 'movie_id_1149',
 'movie_id_982',
 'movie_id_141',
 'movie_id_1518',
 'movie_id_478',
 'movie_id_744',
 'movie_id_1386',
 'movie_id_1639',
 'movie_id_1438',
 'movie_id_916',
 'movie_id_989',
 'movie_id_1561',
 'movie_id_1395',
 'movie_id_129',
 'movie_id_1656',
 'movie_id_635',
 'movie_id_638',
 'movie_id_101',
 'movie_id_48',
 'movie_id_1680',
 'movie_id_34',
 'movie_id_1110',
 'movie_id_17',
 'movie_id_881',
 'movie_id_781',
 'movie_id_380',
 'movie_id_747',
 'movie_id_1336',
 'movie_id_1337',
 'movie_id_1579',
 'movie_id_1590',
 'movie_id_878',
 'movie_id_1585',
 'movie_id_488',
 'movie_id_1289',
 'movie_id_1039',
 'movie_id_1041',
 'movie_id_71',
 'movie_id_1104',
 'movie_id_1063',
 'movie_id_1119',
 'movie_id_1675',
 'movie_id_953',
 'movie_id_339',
 'movie_id_706',
 'movie_id_81',
 'movie_id_829',
 'movie_id_13',
 'movie_id_508',
 'movie_id_1249',
 'movie_id_1606',
 'movie_id_231',
 'movie_id_465',
 'movie_id_360',
 'movie_id_723',
 'movie_id_1600',
 'movie_id_788',
 'movie_id_1027',
 'movie_id_301',
 'movie_id_134',
 'movie_id_1178',
 'movie_id_624',
 'movie_id_1574',
 'movie_id_1540',
 'movie_id_1269',
 'movie_id_362',
 'movie_id_533',
 'movie_id_1391',
 'movie_id_200',
 'movie_id_1053',
 'movie_id_822',
 'movie_id_1011',
 'movie_id_241',
 'movie_id_721',
 'movie_id_764',
 'movie_id_1504',
 'movie_id_177',
 'movie_id_1508',
 'movie_id_1394',
 'movie_id_1318',
 'movie_id_1305',
 'movie_id_1085',
 'movie_id_86',
 'movie_id_1349',
 'movie_id_349',
 'movie_id_771',
 'movie_id_1171',
 'movie_id_668',
 'movie_id_1125',
 ...}

In [14]:
test_cols = set(one_hot_test.columns.to_list()[1:])

In [15]:
col_to_drop = list(test_cols - train_cols.intersection(test_cols))

In [16]:
one_hot_test = one_hot_test.drop(col_to_drop, axis=1)

In [17]:
col_to_add = list(train_cols - train_cols.intersection(test_cols))

In [18]:
data = np.zeros((one_hot_test.shape[0],len(col_to_add)), dtype=np.uint8)

temp_df = pd.DataFrame(data, columns=col_to_add)

In [19]:
one_hot_test_n = pd.concat([one_hot_test, temp_df], axis=1)

In [20]:
one_hot_test_n

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1662,movie_id_1155,movie_id_1647,movie_id_1576,movie_id_1125,movie_id_1275,movie_id_817,movie_id_1186,movie_id_1141,movie_id_1546
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
import re

def atoi(text):
    return int(text) if text.isdigit() else text

def natural_keys(text):
    '''
    alist.sort(key=natural_keys) sorts in human order
    http://nedbatchelder.com/blog/200712/human_sorting.html
    (See Toothy's implementation in the comments)
    '''
    return [ atoi(c) for c in re.split(r'(\d+)', text) ]

In [22]:
one_hot_test_n = one_hot_test_n.reindex(sorted(one_hot_test_n.columns, key=natural_keys), axis=1)

one_hot_test_n = one_hot_test_n[one_hot_test_n.columns.tolist()[-1:] + one_hot_test_n.columns.tolist()[:-1]]

In [23]:
one_hot_test_n

,user_id,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,758,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,358,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,772,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,683,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,312,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,804,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,239,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,663,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
grouped = one_hot_test_n.groupby("user_id")

In [26]:
exposure_test = pd.DataFrame(columns=one_hot_test_n.columns)

In [27]:
for i in tqdm(one_hot_test_n.user_id.unique().tolist()):
    temp = pd.DataFrame(grouped.get_group(i).drop("user_id", axis=1).sum()).T
    temp["user_id"] = i
    temp = temp[temp.columns.tolist()[-1:] + temp.columns.tolist()[:-1]]
    exposure_test = pd.concat([exposure_test, temp], ignore_index=True)

100%|██████████| 943/943 [00:11<00:00, 81.93it/s]

In [28]:
exposure_test

,user_id,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,758,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,358,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,772,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,683,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,312,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,785,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
939,926,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
940,685,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,706,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,306,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
exposure_test.max()

user_id          943.0
movie_id_1         1.0
movie_id_2         1.0
movie_id_3         1.0
movie_id_4         1.0
                 ...
movie_id_1675      0.0
movie_id_1676      0.0
movie_id_1678      0.0
movie_id_1680      0.0
movie_id_1682      0.0
Length: 1659, dtype: float64

In [30]:
exposure_test.columns

Index(['user_id', 'movie_id_1', 'movie_id_2', 'movie_id_3', 'movie_id_4',
       'movie_id_5', 'movie_id_6', 'movie_id_7', 'movie_id_8', 'movie_id_9',
       ...
       'movie_id_1666', 'movie_id_1667', 'movie_id_1670', 'movie_id_1672',
       'movie_id_1673', 'movie_id_1675', 'movie_id_1676', 'movie_id_1678',
       'movie_id_1680', 'movie_id_1682'],
      dtype='object', length=1659)

In [31]:
exposure_test.to_csv("data/new_pp/exposure_100k_test.csv", index=False)