In [68]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [69]:
def shrink_df(df):
    df.user_id = df.user_id.astype(np.uint16)
    df.movie_id = df.movie_id.astype(np.uint16)
    df.rating = df.rating.astype(np.uint8)
    
    return df

In [70]:
df_train = pd.read_csv("data/new_pp/udata_train_100k.csv")

In [71]:
df_train.head()

   user_id  movie_id  rating
0      664       525       4
1       49         1       2
2      352       273       2
3      618        96       3
4      560        24       2

In [72]:
df_test = pd.read_csv("data/new_pp/udata_test_100k.csv")

In [73]:
one_hot_train = pd.get_dummies(df_train.movie_id, prefix="movie_id", dtype=np.uint8)

In [74]:
one_hot_train

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79998,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
for col in tqdm(one_hot_train.columns.to_list()[:-1]):
    one_hot_train[col] = np.multiply(df_train.rating, one_hot_train[col])

100%|██████████| 1657/1657 [00:23<00:00, 70.64it/s]

In [76]:
one_hot_train

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79998,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
one_hot_train["user_id"] = df_train.user_id

In [78]:
one_hot_test = pd.get_dummies(df_test.movie_id, prefix="movie_id", dtype=np.uint8)

In [79]:
one_hot_test

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1650,movie_id_1651,movie_id_1668,movie_id_1669,movie_id_1671,movie_id_1672,movie_id_1674,movie_id_1677,movie_id_1679,movie_id_1681
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
for col in tqdm(one_hot_test.columns.to_list()[:-1]):
    one_hot_test[col] = np.multiply(df_test.rating, one_hot_test[col])

100%|██████████| 1385/1385 [00:03<00:00, 346.60it/s]

In [81]:
one_hot_test["user_id"] = df_test.user_id

In [82]:
train_cols = set(one_hot_train.columns.to_list()[1:])

In [83]:
train_cols

{'movie_id_303',
 'movie_id_396',
 'movie_id_513',
 'movie_id_1552',
 'movie_id_254',
 'movie_id_1510',
 'movie_id_377',
 'movie_id_564',
 'movie_id_1111',
 'movie_id_374',
 'movie_id_1004',
 'movie_id_570',
 'movie_id_913',
 'movie_id_1082',
 'movie_id_48',
 'movie_id_915',
 'movie_id_1271',
 'movie_id_721',
 'movie_id_1492',
 'movie_id_427',
 'movie_id_425',
 'movie_id_516',
 'movie_id_1237',
 'movie_id_983',
 'movie_id_472',
 'movie_id_1250',
 'movie_id_544',
 'movie_id_1302',
 'movie_id_601',
 'movie_id_815',
 'movie_id_1106',
 'movie_id_1201',
 'movie_id_399',
 'movie_id_49',
 'movie_id_59',
 'movie_id_341',
 'movie_id_1265',
 'movie_id_236',
 'movie_id_849',
 'movie_id_860',
 'movie_id_326',
 'movie_id_319',
 'movie_id_1105',
 'movie_id_818',
 'movie_id_992',
 'movie_id_1035',
 'movie_id_13',
 'movie_id_1462',
 'movie_id_696',
 'movie_id_560',
 'movie_id_940',
 'movie_id_741',
 'movie_id_1377',
 'movie_id_288',
 'movie_id_766',
 'movie_id_194',
 'movie_id_842',
 'movie_id_691',
 'movie_id_1094',
 'movie_id_367',
 'movie_id_169',
 'movie_id_1624',
 'movie_id_1503',
 'movie_id_393',
 'movie_id_820',
 'movie_id_6',
 'movie_id_1610',
 'movie_id_1031',
 'movie_id_846',
 'movie_id_31',
 'movie_id_623',
 'movie_id_173',
 'movie_id_669',
 'movie_id_966',
 'movie_id_1461',
 'movie_id_812',
 'movie_id_1587',
 'movie_id_1357',
 'movie_id_141',
 'movie_id_1075',
 'movie_id_1504',
 'movie_id_483',
 'movie_id_409',
 'movie_id_259',
 'movie_id_1103',
 'movie_id_482',
 'movie_id_1127',
 'movie_id_1548',
 'movie_id_910',
 'movie_id_1633',
 'movie_id_1495',
 'movie_id_1107',
 'movie_id_1182',
 'movie_id_209',
 'movie_id_1333',
 'movie_id_1615',
 'movie_id_1225',
 'movie_id_37',
 'movie_id_458',
 'movie_id_1149',
 'movie_id_45',
 'movie_id_1473',
 'movie_id_821',
 'movie_id_488',
 'movie_id_1070',
 'movie_id_1609',
 'movie_id_603',
 'movie_id_1164',
 'movie_id_1494',
 'movie_id_1159',
 'movie_id_1217',
 'movie_id_711',
 'movie_id_1209',
 'movie_id_1301',
 'movie_id_351',
 'movie_id_447',
 'movie_id_580',
 'movie_id_639',
 'movie_id_801',
 'movie_id_827',
 'movie_id_170',
 'movie_id_429',
 'movie_id_29',
 'movie_id_530',
 'movie_id_468',
 'movie_id_273',
 'movie_id_1479',
 'movie_id_764',
 'movie_id_176',
 'movie_id_995',
 'movie_id_423',
 'movie_id_120',
 'movie_id_428',
 'movie_id_1283',
 'movie_id_1437',
 'movie_id_1192',
 'movie_id_1258',
 'movie_id_1447',
 'movie_id_980',
 'movie_id_1381',
 'movie_id_619',
 'movie_id_761',
 'movie_id_825',
 'movie_id_1130',
 'movie_id_774',
 'movie_id_1022',
 'movie_id_1052',
 'movie_id_893',
 'movie_id_251',
 'movie_id_1404',
 'movie_id_14',
 'movie_id_225',
 'movie_id_63',
 'movie_id_728',
 'movie_id_869',
 'movie_id_926',
 'movie_id_1039',
 'movie_id_148',
 'movie_id_77',
 'movie_id_571',
 'movie_id_368',
 'movie_id_1509',
 'movie_id_134',
 'movie_id_307',
 'movie_id_999',
 'movie_id_1066',
 'movie_id_42',
 'movie_id_796',
 'movie_id_1057',
 'movie_id_1575',
 'movie_id_771',
 'movie_id_620',
 'movie_id_81',
 'movie_id_342',
 'movie_id_106',
 'movie_id_1488',
 'movie_id_813',
 'movie_id_1079',
 'movie_id_868',
 'movie_id_1653',
 'movie_id_951',
 'movie_id_1338',
 'movie_id_1152',
 'movie_id_11',
 'movie_id_12',
 'movie_id_369',
 'movie_id_939',
 'movie_id_182',
 'movie_id_678',
 'movie_id_1264',
 'movie_id_158',
 'movie_id_502',
 'movie_id_768',
 'movie_id_826',
 'movie_id_162',
 'movie_id_528',
 'movie_id_24',
 'movie_id_286',
 'movie_id_931',
 'movie_id_1511',
 'movie_id_836',
 'movie_id_70',
 'movie_id_261',
 'movie_id_692',
 'movie_id_701',
 'movie_id_948',
 'movie_id_1186',
 'movie_id_758',
 'movie_id_930',
 'movie_id_202',
 'movie_id_2',
 'movie_id_579',
 'movie_id_647',
 'movie_id_794',
 'movie_id_43',
 'movie_id_744',
 'movie_id_332',
 'movie_id_1287',
 'movie_id_54',
 'movie_id_1379',
 'movie_id_22',
 'movie_id_909',
 'movie_id_997',
 'movie_id_97',
 'movie_id_1280',
 'movie_id_608',
 'movie_id_888',
 'movie_id_1040',
 'movie_id_646',
 'movie_id_498',
 'movie_id_1178',
 'movie_id_438',
 'movie_id_366',
 'movie_id_568',
 'movie_id_249',
 'movie_id_1068',
 'movie_id_83',
 'movie_id_1336',
 'movie_id_962',
 'movie_id_899',
 'movie_id_805',
 'movie_id_94',
 'movie_id_1539',
 'movie_id_852',
 'movie_id_61',
 'movie_id_1317',
 'movie_id_280',
 'movie_id_819',
 'movie_id_223',
 'movie_id_440',
 'movie_id_698',
 'movie_id_434',
 'movie_id_736',
 'movie_id_952',
 'movie_id_306',
 'movie_id_523',
 'movie_id_971',
 'movie_id_515',
 'movie_id_1295',
 'movie_id_301',
 'movie_id_494',
 'movie_id_235',
 'movie_id_900',
 'movie_id_538',
 'movie_id_291',
 'movie_id_480',
 'movie_id_25',
 'movie_id_1436',
 'movie_id_1638',
 'movie_id_1367',
 'movie_id_1171',
 'movie_id_1455',
 'movie_id_1617',
 'movie_id_1212',
 'movie_id_656',
 'movie_id_1208',
 'movie_id_191',
 'movie_id_381',
 'movie_id_529',
 'movie_id_1382',
 'movie_id_929',
 'movie_id_1036',
 'movie_id_904',
 'movie_id_384',
 'movie_id_853',
 'movie_id_1197',
 'movie_id_1349',
 'movie_id_640',
 'movie_id_928',
 'movie_id_105',
 'movie_id_126',
 'movie_id_1173',
 'movie_id_1611',
 'movie_id_222',
 'movie_id_364',
 'movie_id_16',
 'movie_id_1116',
 'movie_id_1018',
 'movie_id_1472',
 'movie_id_471',
 'movie_id_993',
 'movie_id_782',
 'movie_id_51',
 'movie_id_1485',
 'movie_id_681',
 'movie_id_109',
 'movie_id_212',
 'movie_id_446',
 'movie_id_1151',
 'movie_id_894',
 'movie_id_460',
 'movie_id_395',
 'movie_id_546',
 'movie_id_575',
 'movie_id_779',
 'movie_id_1457',
 'movie_id_1557',
 'movie_id_1210',
 'movie_id_1281',
 'movie_id_1189',
 'movie_id_556',
 'movie_id_1537',
 'movie_id_675',
 'movie_id_484',
 'movie_id_648',
 'movie_id_688',
 'movie_id_1190',
 'movie_id_710',
 'movie_id_985',
 'movie_id_1386',
 'movie_id_1341',
 'movie_id_1444',
 'movie_id_775',
 'movie_id_1614',
 'movie_id_1416',
 'movie_id_1123',
 'movie_id_1026',
 'movie_id_205',
 'movie_id_391',
 'movie_id_504',
 'movie_id_613',
 'movie_id_1023',
 'movie_id_256',
 'movie_id_799',
 'movie_id_1329',
 'movie_id_258',
 'movie_id_527',
 'movie_id_703',
 'movie_id_1412',
 'movie_id_1433',
 'movie_id_276',
 'movie_id_1514',
 'movie_id_1228',
 'movie_id_533',
 'movie_id_509',
 'movie_id_1134',
 'movie_id_629',
 'movie_id_400',
 'movie_id_486',
 'movie_id_534',
 'movie_id_4',
 'movie_id_183',
 'movie_id_885',
 'movie_id_475',
 'movie_id_100',
 'movie_id_1045',
 'movie_id_389',
 'movie_id_1477',
 'movie_id_881',
 'movie_id_637',
 'movie_id_313',
 'movie_id_479',
 'movie_id_1407',
 'movie_id_317',
 'movie_id_408',
 'movie_id_180',
 'movie_id_1449',
 'movie_id_715',
 'movie_id_62',
 'movie_id_1303',
 'movie_id_68',
 'movie_id_1676',
 'movie_id_1512',
 'movie_id_371',
 'movie_id_352',
 'movie_id_585',
 'movie_id_269',
 'movie_id_1155',
 'movie_id_979',
 'movie_id_1231',
 'movie_id_1546',
 'movie_id_1481',
 'movie_id_1605',
 'movie_id_397',
 'movie_id_905',
 'movie_id_730',
 'movie_id_1136',
 'movie_id_497',
 'movie_id_756',
 'movie_id_778',
 'movie_id_1631',
 'movie_id_1108',
 'movie_id_551',
 'movie_id_1255',
 'movie_id_1306',
 'movie_id_1551',
 'movie_id_566',
 'movie_id_304',
 'movie_id_1180',
 'movie_id_824',
 'movie_id_18',
 'movie_id_694',
 'movie_id_722',
 'movie_id_405',
 'user_id',
 'movie_id_752',
 'movie_id_611',
 'movie_id_883',
 'movie_id_322',
 'movie_id_1456',
 'movie_id_325',
 'movie_id_587',
 'movie_id_1366',
 'movie_id_1594',
 'movie_id_474',
 'movie_id_155',
 'movie_id_1102',
 'movie_id_1574',
 'movie_id_435',
 'movie_id_707',
 'movie_id_797',
 'movie_id_1025',
 'movie_id_39',
 'movie_id_175',
 'movie_id_1663',
 'movie_id_872',
 'movie_id_78',
 'movie_id_419',
 'movie_id_1632',
 'movie_id_545',
 'movie_id_1405',
 'movie_id_1390',
 'movie_id_1353',
 'movie_id_941',
 'movie_id_181',
 'movie_id_160',
 'movie_id_189',
 'movie_id_421',
 'movie_id_501',
 'movie_id_1312',
 'movie_id_1648',
 'movie_id_1235',
 'movie_id_935',
 'movie_id_1659',
 'movie_id_1646',
 'movie_id_187',
 'movie_id_431',
 'movie_id_40',
 'movie_id_1662',
 'movie_id_1240',
 'movie_id_60',
 'movie_id_1239',
 'movie_id_795',
 'movie_id_767',
 'movie_id_653',
 'movie_id_843',
 'movie_id_1060',
 'movie_id_1050',
 'movie_id_1419',
 'movie_id_1181',
 'movie_id_390',
 'movie_id_135',
 'movie_id_379',
 'movie_id_1080',
 'movie_id_1642',
 'movie_id_638',
 'movie_id_1635',
 'movie_id_695',
 'movie_id_146',
 'movie_id_145',
 'movie_id_1242',
 'movie_id_598',
 'movie_id_270',
 'movie_id_717',
 'movie_id_760',
 'movie_id_1234',
 'movie_id_198',
 'movie_id_1383',
 'movie_id_549',
 'movie_id_403',
 'movie_id_671',
 'movie_id_279',
 'movie_id_1599',
 'movie_id_204',
 'movie_id_257',
 'movie_id_1554',
 'movie_id_1238',
 'movie_id_1598',
 'movie_id_1161',
 'movie_id_250',
 'movie_id_1042',
 'movie_id_255',
 'movie_id_963',
 'movie_id_262',
 'movie_id_1538',
 'movie_id_633',
 'movie_id_902',
 'movie_id_1120',
 'movie_id_1474',
 'movie_id_1555',
 'movie_id_740',
 'movie_id_788',
 'movie_id_1147',
 'movie_id_674',
 'movie_id_442',
 'movie_id_884',
 'movie_id_266',
 'movie_id_365',
 'movie_id_1431',
 'movie_id_1003',
 'movie_id_1326',
 'movie_id_490',
 'movie_id_586',
 'movie_id_944',
 'movie_id_290',
 'movie_id_1270',
 'movie_id_444',
 'movie_id_573',
 'movie_id_320',
 'movie_id_414',
 'movie_id_1069',
 'movie_id_1288',
 'movie_id_1441',
 'movie_id_828',
 'movie_id_96',
 'movie_id_281',
 'movie_id_95',
 'movie_id_240',
 'movie_id_89',
 'movie_id_1205',
 'movie_id_1560',
 'movie_id_720',
 'movie_id_15',
 'movie_id_1086',
 'movie_id_38',
 'movie_id_439',
 'movie_id_1506',
 'movie_id_185',
 'movie_id_606',
 'movie_id_780',
 'movie_id_186',
 'movie_id_508',
 'movie_id_407',
 'movie_id_85',
 'movie_id_772',
 'movie_id_1516',
 'movie_id_712',
 'movie_id_1126',
 'movie_id_1020',
 'movie_id_1331',
 'movie_id_1001',
 'movie_id_1276',
 'movie_id_1476',
 'movie_id_1207',
 'movie_id_718',
 'movie_id_708',
 'movie_id_465',
 'movie_id_1002',
 'movie_id_631',
 'movie_id_466',
 'movie_id_574',
 'movie_id_1665',
 'movie_id_1637',
 'movie_id_950',
 'movie_id_1522',
 'movie_id_1344',
 'movie_id_418',
 'movie_id_69',
 'movie_id_1176',
 'movie_id_1146',
 'movie_id_1059',
 'movie_id_1376',
 'movie_id_518',
 'movie_id_908',
 'movie_id_697',
 'movie_id_1131',
 'movie_id_448',
 'movie_id_1322',
 'movie_id_264',
 'movie_id_954',
 'movie_id_1260',
 'movie_id_1072',
 'movie_id_1027',
 'movie_id_957',
 'movie_id_1112',
 'movie_id_749',
 'movie_id_1121',
 'movie_id_1095',
 'movie_id_1547',
 'movie_id_1359',
 'movie_id_1037',
 'movie_id_1144',
 'movie_id_946',
 'movie_id_543',
 'movie_id_1327',
 'movie_id_334',
 'movie_id_1440',
 'movie_id_793',
 'movie_id_1220',
 'movie_id_505',
 'movie_id_35',
 'movie_id_595',
 'movie_id_1163',
 'movie_id_1469',
 'movie_id_719',
 'movie_id_974',
 'movie_id_1307',
 'movie_id_632',
 'movie_id_375',
 'movie_id_859',
 'movie_id_1464',
 'movie_id_1269',
 'movie_id_165',
 'movie_id_1586',
 'movie_id_327',
 'movie_id_1403',
 'movie_id_1254',
 'movie_id_1567',
 'movie_id_1285',
 'movie_id_237',
 'movie_id_346',
 'movie_id_594',
 'movie_id_1141',
 'movie_id_292',
 'movie_id_1145',
 'movie_id_53',
 'movie_id_665',
 'movie_id_1460',
 'movie_id_1410',
 'movie_id_709',
 'movie_id_1424',
 'movie_id_1425',
 'movie_id_1097',
 'movie_id_561',
 'movie_id_184',
 'movie_id_331',
 'movie_id_762',
 'movie_id_469',
 'movie_id_1133',
 'movie_id_1678',
 'movie_id_343',
 'movie_id_52',
 'movie_id_283',
 'movie_id_32',
 'movie_id_1660',
 'movie_id_1135',
 'movie_id_1223',
 'movie_id_655',
 'movie_id_792',
 'movie_id_8',
 'movie_id_1000',
 'movie_id_896',
 'movie_id_887',
 'movie_id_287',
 'movie_id_1278',
 'movie_id_349',
 'movie_id_1187',
 'movie_id_1261',
 'movie_id_147',
 'movie_id_550',
 'movie_id_213',
 'movie_id_1101',
 'movie_id_1426',
 'movie_id_122',
 'movie_id_1292',
 'movie_id_589',
 'movie_id_1496',
 'movie_id_998',
 'movie_id_284',
 'movie_id_1667',
 'movie_id_372',
 'movie_id_871',
 'movie_id_588',
 'movie_id_1267',
 'movie_id_731',
 'movie_id_495',
 'movie_id_833',
 'movie_id_1645',
 'movie_id_233',
 'movie_id_1088',
 'movie_id_1588',
 'movie_id_1466',
 'movie_id_443',
 'movie_id_1491',
 'movie_id_1608',
 'movie_id_1008',
 'movie_id_541',
 'movie_id_433',
 'movie_id_553',
 'movie_id_539',
 'movie_id_347',
 'movie_id_411',
 'movie_id_1600',
 'movie_id_903',
 'movie_id_133',
 'movie_id_394',
 'movie_id_803',
 'movie_id_1196',
 'movie_id_125',
 'movie_id_86',
 'movie_id_1378',
 'movie_id_1391',
 'movie_id_211',
 'movie_id_119',
 'movie_id_1226',
 'movie_id_1346',
 'movie_id_754',
 'movie_id_238',
 'movie_id_777',
 'movie_id_759',
 'movie_id_424',
 'movie_id_131',
 'movie_id_462',
 'movie_id_268',
 'movie_id_318',
 'movie_id_1310',
 'movie_id_1634',
 'movie_id_1085',
 'movie_id_1109',
 'movie_id_1532',
 'movie_id_936',
 'movie_id_1374',
 'movie_id_1655',
 'movie_id_481',
 'movie_id_1384',
 'movie_id_406',
 'movie_id_964',
 'movie_id_1429',
 'movie_id_1647',
 'movie_id_1450',
 'movie_id_654',
 'movie_id_1542',
 'movie_id_763',
 'movie_id_1076',
 'movie_id_1470',
 'movie_id_263',
 'movie_id_1193',
 'movie_id_636',
 'movie_id_1313',
 'movie_id_584',
 'movie_id_576',
 'movie_id_624',
 'movie_id_981',
 'movie_id_1157',
 'movie_id_956',
 'movie_id_218',
 'movie_id_984',
 'movie_id_1530',
 'movie_id_1224',
 'movie_id_607',
 'movie_id_179',
 'movie_id_503',
 'movie_id_988',
 'movie_id_1096',
 'movie_id_807',
 'movie_id_1559',
 'movie_id_602',
 'movie_id_1420',
 'movie_id_1553',
 'movie_id_854',
 'movie_id_1006',
 'movie_id_1417',
 'movie_id_1451',
 'movie_id_350',
 'movie_id_1401',
 'movie_id_28',
 'movie_id_1139',
 'movie_id_1358',
 'movie_id_520',
 'movie_id_1049',
 'movie_id_299',
 'movie_id_994',
 'movie_id_1604',
 'movie_id_73',
 'movie_id_1166',
 'movie_id_1370',
 'movie_id_735',
 'movie_id_734',
 'movie_id_781',
 'movie_id_1286',
 'movie_id_1525',
 'movie_id_154',
 'movie_id_1115',
 'movie_id_123',
 'movie_id_190',
 'movie_id_537',
 'movie_id_1399',
 'movie_id_1607',
 'movie_id_861',
 'movie_id_323',
 'movie_id_333',
 'movie_id_493',
 'movie_id_1641',
 'movie_id_415',
 'movie_id_1531',
 'movie_id_1563',
 'movie_id_467',
 'movie_id_1142',
 'movie_id_507',
 'movie_id_945',
 'movie_id_41',
 'movie_id_398',
 'movie_id_1110',
 'movie_id_1065',
 'movie_id_1434',
 'movie_id_700',
 'movie_id_1084',
 'movie_id_596',
 'movie_id_1074',
 'movie_id_1227',
 'movie_id_1566',
 'movie_id_554',
 'movie_id_1167',
 'movie_id_298',
 'movie_id_863',
 'movie_id_376',
 'movie_id_297',
 'movie_id_57',
 'movie_id_1150',
 'movie_id_856',
 'movie_id_1277',
 'movie_id_901',
 'movie_id_296',
 'movie_id_87',
 'movie_id_340',
 'movie_id_1118',
 'movie_id_1230',
 'movie_id_310',
 'movie_id_114',
 'movie_id_127',
 'movie_id_804',
 'movie_id_1015',
 'movie_id_402',
 'movie_id_1219',
 'movie_id_943',
 'movie_id_1335',
 'movie_id_942',
 'movie_id_1558',
 'movie_id_46',
 'movie_id_1188',
 'movie_id_578',
 'movie_id_1536',
 'movie_id_1017',
 'movie_id_1153',
 'movie_id_1355',
 'movie_id_1622',
 'movie_id_667',
 'movie_id_1360',
 'movie_id_248',
 'movie_id_784',
 'movie_id_924',
 'movie_id_239',
 'movie_id_1535',
 'movie_id_1093',
 'movie_id_1619',
 'movie_id_716',
 'movie_id_1328',
 'movie_id_753',
 'movie_id_1081',
 'movie_id_1316',
 'movie_id_1396',
 'movie_id_330',
 'movie_id_755',
 'movie_id_1321',
 'movie_id_1427',
 'movie_id_693',
 'movie_id_1055',
 'movie_id_230',
 'movie_id_785',
 'movie_id_558',
 'movie_id_417',
 'movie_id_1012',
 'movie_id_1137',
 'movie_id_295',
 'movie_id_609',
 'movie_id_241',
 'movie_id_1489',
 'movie_id_19',
 'movie_id_542',
 'movie_id_1612',
 'movie_id_82',
 'movie_id_1568',
 'movie_id_591',
 'movie_id_267',
 'movie_id_811',
 'movie_id_357',
 'movie_id_1319',
 'movie_id_220',
 'movie_id_1482',
 'movie_id_651',
 'movie_id_968',
 'movie_id_590',
 'movie_id_733',
 'movie_id_625',
 'movie_id_875',
 'movie_id_1579',
 'movie_id_445',
 'movie_id_115',
 'movie_id_1098',
 'movie_id_839',
 'movie_id_1195',
 'movie_id_1521',
 'movie_id_922',
 'movie_id_626',
 'movie_id_666',
 'movie_id_1498',
 'movie_id_441',
 'movie_id_635',
 'movie_id_577',
 'movie_id_55',
 'movie_id_1397',
 'movie_id_335',
 'movie_id_278',
 'movie_id_451',
 'movie_id_747',
 'movie_id_20',
 'movie_id_1099',
 'movie_id_50',
 'movie_id_246',
 'movie_id_739',
 'movie_id_1298',
 'movie_id_1083',
 'movie_id_892',
 'movie_id_1244',
 'movie_id_1279',
 'movie_id_1618',
 'movie_id_933',
 'movie_id_684',
 'movie_id_1010',
 'movie_id_1291',
 'movie_id_47',
 'movie_id_1046',
 'movie_id_302',
 'movie_id_622',
 'movie_id_1442',
 'movie_id_512',
 'movie_id_1051',
 'movie_id_1245',
 'movie_id_672',
 'movie_id_1062',
 'movie_id_461',
 'movie_id_30',
 'movie_id_228',
 'movie_id_889',
 'movie_id_923',
 'movie_id_1636',
 'movie_id_857',
 'movie_id_172',
 'movie_id_845',
 'movie_id_1644',
 'movie_id_705',
 'movie_id_1549',
 'movie_id_3',
 'movie_id_949',
 'movie_id_886',
 'movie_id_1623',
 'movie_id_1591',
 'movie_id_810',
 'movie_id_153',
 'movie_id_1158',
 'movie_id_592',
 'movie_id_360',
 'movie_id_532',
 'movie_id_416',
 'movie_id_726',
 'movie_id_413',
 'movie_id_1529',
 'movie_id_361',
 'movie_id_1658',
 'movie_id_932',
 'movie_id_1556',
 'movie_id_699',
 'movie_id_1199',
 'movie_id_746',
 'movie_id_436',
 'movie_id_1371',
 'movie_id_224',
 'movie_id_289',
 'movie_id_1413',
 'movie_id_1034',
 'movie_id_336',
 'movie_id_1625',
 'movie_id_1438',
 'movie_id_806',
 'movie_id_1581',
 'movie_id_605',
 'movie_id_890',
 'movie_id_1445',
 'movie_id_1621',
 'movie_id_1389',
 ...}

In [84]:
test_cols = set(one_hot_test.columns.to_list()[1:])

In [85]:
col_to_drop = list(test_cols - train_cols.intersection(test_cols))

In [86]:
one_hot_test = one_hot_test.drop(col_to_drop, axis=1)

In [87]:
col_to_add = list(train_cols - train_cols.intersection(test_cols))

In [88]:
data = np.zeros((one_hot_test.shape[0],len(col_to_add)), dtype=np.uint8)

temp_df = pd.DataFrame(data, columns=col_to_add)

In [89]:
one_hot_test_n = pd.concat([one_hot_test, temp_df], axis=1)

In [90]:
one_hot_test_n

,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,movie_id_10,...,movie_id_1656,movie_id_1537,movie_id_1574,movie_id_1233,movie_id_1403,movie_id_1374,movie_id_1526,movie_id_1655,movie_id_599,movie_id_1567
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
import re

def atoi(text):
    return int(text) if text.isdigit() else text

def natural_keys(text):
    '''
    alist.sort(key=natural_keys) sorts in human order
    http://nedbatchelder.com/blog/200712/human_sorting.html
    (See Toothy's implementation in the comments)
    '''
    return [ atoi(c) for c in re.split(r'(\d+)', text) ]

In [92]:
one_hot_test_n = one_hot_test_n.reindex(sorted(one_hot_test_n.columns, key=natural_keys), axis=1)

one_hot_test_n = one_hot_test_n[one_hot_test_n.columns.tolist()[-1:] + one_hot_test_n.columns.tolist()[:-1]]

In [93]:
one_hot_test_n

,user_id,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,758,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,358,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,772,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,683,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,312,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,804,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,239,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,663,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
grouped = one_hot_test_n.groupby("user_id")

In [95]:
rating_test = pd.DataFrame(columns=one_hot_test_n.columns)

In [96]:
for i in tqdm(one_hot_test_n.user_id.unique().tolist()):
    temp = pd.DataFrame(grouped.get_group(i).drop("user_id", axis=1).sum()).T
    temp["user_id"] = i
    temp = temp[temp.columns.tolist()[-1:] + temp.columns.tolist()[:-1]]
    rating_test = pd.concat([rating_test, temp], ignore_index=True)

100%|██████████| 943/943 [02:06<00:00,  7.47it/s]

In [97]:
rating_test

,user_id,movie_id_1,movie_id_2,movie_id_3,movie_id_4,movie_id_5,movie_id_6,movie_id_7,movie_id_8,movie_id_9,...,movie_id_1666,movie_id_1667,movie_id_1670,movie_id_1672,movie_id_1673,movie_id_1675,movie_id_1676,movie_id_1678,movie_id_1680,movie_id_1682
0,758,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,358,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,772,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,683,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,312,0,0,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,785,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
939,926,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
940,685,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,706,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,306,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
rating_test.max()

user_id          943.0
movie_id_1         5.0
movie_id_2         5.0
movie_id_3         4.0
movie_id_4         5.0
                 ...
movie_id_1675      0.0
movie_id_1676      0.0
movie_id_1678      0.0
movie_id_1680      0.0
movie_id_1682      0.0
Length: 1659, dtype: float64

In [99]:
rating_test.columns

Index(['user_id', 'movie_id_1', 'movie_id_2', 'movie_id_3', 'movie_id_4',
       'movie_id_5', 'movie_id_6', 'movie_id_7', 'movie_id_8', 'movie_id_9',
       ...
       'movie_id_1666', 'movie_id_1667', 'movie_id_1670', 'movie_id_1672',
       'movie_id_1673', 'movie_id_1675', 'movie_id_1676', 'movie_id_1678',
       'movie_id_1680', 'movie_id_1682'],
      dtype='object', length=1659)

In [67]:
rating_test.to_csv("data/new_pp/rating_100k_test.csv", index=False)